anyio==3.3.4
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
beautifulsoup4==4.6.0
blinker==1.4
Bottleneck==1.3.2
brotlipy==0.7.0
catalogue==2.0.6
catboost @ https://pypi.org/packages/cp38/c/catboost/catboost-0.26.1-cp38-none-win_amd64.whl
certifi==2021.10.8
chardet==3.0.4
clang==5.0
click==8.0.3
cycler==0.10.0
cytoolz==0.11.0
dask==2021.10.0
emoji==1.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.1.0
fastapi==0.70.0
filelock==3.3.2
flatbuffers==1.12
fonttools==4.25.0
future==0.18.2
gast==0.4.0
gensim==3.8.1
glove-python-binary==0.2.0
gluonnlp==0.10.0
graphviz==0.8.4
grpcio==1.34.1
h5py==3.1.0
htmlmin==0.1.12
huggingface-hub==0.1.1
idna==2.8
ImageHash==4.2.1
JPype1==1.3.0
jupyter==1.0.0
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
konlpy==0.5.2
kss==3.2.0
libclang==12.0.0
locket==0.2.1
lxml==4.6.3
mccabe==0.6.1
mglearn==0.1.9
missingno==0.5.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-service==2.4.0
multimethod==1.4
munkres==1.1.4
mxnet==1.7.0.post2
nltk==3.6.2
numpy==1.19.5
oauthlib==3.1.0
onnxruntime==1.9.0
openpyxl==3.0.9
pandas==1.3.4
pandas-profiling==3.0.0
parso==0.7.0
patsy==0.5.1
phik==0.12.0
plotly==5.4.0
protobuf==3.17.2
pyasn1-modules==0.2.8
pydantic==1.8.2
pyDeprecate==0.3.1
pydotplus==2.0.2
PyJWT==1.7.1
pykospacing @ git+https://github.com/haven-jeon/PyKoSpacing.git@09c6bc044540ee06d605505ccfd5eb0cd1bd1ffb
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyreadline==2.1
pytorch-lightning==1.5.0
pytz==2021.3
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
sacremoses==0.0.46
scikit-image==0.18.2
scikit-learn==0.22.2
scipy==1.4.1
sentencepiece==0.1.91
six==1.15.0
smart-open==5.2.1
soynlp==0.0.493
srsly==2.4.1
starlette==0.16.0
tangled-up-in-unicode==0.1.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorflow==2.5.2
tensorflow-estimator==2.5.0
tensorflow-gpu==2.6.0
tensorflow-io-gcs-filesystem==0.21.0
termcolor==1.1.0
terminado==0.9.4
tf-estimator-nightly==2.8.0.dev2021103108
tf-nightly==2.8.0.dev20211106
tokenizers==0.10.3
torch==1.9.1
torchaudio==0.10.0
torchmetrics==0.6.0
torchtext==0.10.1
torchvision==0.11.1
transformers==4.11.3
tweepy==3.10.0
typer==0.4.0
typing-extensions==3.7.4.3
urllib3==1.22
visions==0.7.1
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
